.listItem {
    display: flex;
    justify-content: space-between;
    list-style-type: decimal;
    color: #383838;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.deleteButtonExpense {
    color: #FF5049;
    border: 1px solid #FF5049;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;;
}

.deleteButtonIncome {
    color: #28B9B5;
    border: 1px solid #28B9B5;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;;
}

.hidden {
    display: none;
}
